@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.woff) format('woff'),
        url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('true type');
}

@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway-Medium.ttf),
        url(../assets/fonts/Raleway-VariableFont_wght.ttf) format('true type'),
        url(../assets/fonts/Raleway-VariableFont_wght.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Black.woff) format('woff'),
        url(../assets/fonts/Roboto-Black.ttf) format('true type');
}